head
{
    background-color: black;
    font-family: 'Times New Roman', Times, serif; 
}
header
{
    font-family: 'Times New Roman', Times, serif;
}

body
{
    background-image: url(IMAGENs/BACKGROUND-DEFINITIVO2.jpg);
    padding-top: 0px;
    width:auto;
    height: auto;
}
.container-cards
{
    font-family: 'Arial', Times, serif;
   
}
.dropdown-item:hover 
{
    color: azure;
    background-color: cornflowerblue;
    text-decoration: none;
}
.navbar
{
    border-image: url(IMAGENS/frankenstratcard2.jpg);
    justify-content: center;
    padding-top: 500px;
    position: fixed;
}